body {
    font-family: 'Cinzel', serif;
    min-width: 1400px;
    background-image: url("../Pictures/background.jpg");
    background-repeat: no-repeat;
    margin: 0;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}
